[Desktop Entry]
Version=1.0
Type=Application
Name=MATE Terminal
Comment=Use the command line
Exec=mate-terminal
Icon=utilities-terminal
Path=
Terminal=false
StartupNotify=true
